<div class="pt-12">
  <div
    class="border-b border-gray-200 pb-5 mb-5 sm:flex sm:items-center sm:justify-between"
  >
    <div>
      <h3 class="text-base font-semibold leading-6 text-gray-900">
        {{Board.Name}}
      </h3>

      <p class="mt-2 max-w-4xl text-sm text-gray-500">{{Board.Description}}</p>
    </div>
    <div class="mt-4 flex gap-x-2 md:ml-4 md:mt-0">
      <a
        href="/admin/settings#roadmap"
        class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="-ml-0.5 mr-1.5 h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>

        Settings
      </a>
      <a
        href="#"
        class="inline-flex items-center rounded-md bg-emerald px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-emerald focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald"
      >
        <svg
          class="-ml-0.5 mr-1.5 h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
          />
        </svg>
        New Card
      </a>
    </div>
  </div>

  <ul
    role="list"
    class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-4 xl:gap-x-8"
  >
    {%for s in StatusesWithPosts%}
    <li class="overflow-hidden rounded-xl border border-gray-200">
      <div
        class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6"
      >
        <div
          class="w-7 h-7 rounded-md"
          style="background-color: {{s.Status.Color}}"
        ></div>
        <div class="text-sm font-medium leading-6 text-gray-900">
          {{s.Status.Status}}
        </div>
      </div>
      <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
        {%for p in s.Posts%}
        <div class="flex justify-between gap-x-4 py-3">
          <dt class="text-gray-500">Last invoice</dt>
          <dd class="text-gray-700">
            <time datetime="2023-01-23">January 23, 2023</time>
          </dd>
        </div>
        {%empty%}
        <div class="text-gray-700 text-center py-8 font-semibold">Nothing here yet</div>
        {%endfor%}
      </dl>
    </li>
    {%endfor%}
  </ul>
</div>
