<div
  class="flex items-center flex-col cursor-pointer"
  hx-put="/admin/roadmap/post/activity/{{p.ID}}{{postId}}/vote"
  hx-swap="outerHTML"
>
  <span
    class="{% if p.Voted %}px-2 py-1{%else%}p-4{%endif%} text-center text-xl text-gray-900 dark:text-white bg-white dark:bg-slate-800 border-2 border-solid {%if VoteCounter.Voted || p.Voted.Bool%}border-emerald{%else%}border-gray-200 dark:border-slate-700{%endif%}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 pb-1 {%if VoteCounter.Voted || p.Voted.Bool%}text-emerald{%endif%}"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4.5 15.75l7.5-7.5 7.5 7.5"
      />
    </svg>
    {{VoteCounter.Count}}
	{{p.Votes}}
  </span>
</div>
