<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/output-widget.css" />
    <link
      rel="icon"
      type="image/png"
      href="{%if LogoUrl %}{{CDNUrl(LogoUrl)}}{%else%}/static/favicon.png{%endif%}"
    />

    <link rel="stylesheet" href="/static/lexical/main.8197594a.css" />

    {% block head %}
    <title>ReleaseRover - {{Project.Name}}</title>
    {% endblock %}
  </head>

  <body class="h-full">
    <nav class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
        <div class="flex h-16 justify-between">
          <div class="flex px-2 lg:px-0">
            <div class="flex flex-shrink-0 items-center">
              <img
                class="h-6 w-auto"
                src="{%if LogoUrl %}{{CDNUrl(LogoUrl)}}{%else%}/static/logo.png{%endif%}"
                alt="Project Logo"
              />
            </div>
            <div class="ml-6 flex space-x-4">
              <button
                hx-get="/widget/changelog/{{Project.AppKey}}"
                hx-target="#content"
                hx-on::before-request="updateNav('tabChangelog')"
                id="tabChangelog"
                class="nav-item inline-flex items-center border-b-2 px-1 pt-1 text-xs font-medium"
              >
                Changelog
              </button>
              <button
                hx-get="/widget/roadmap/{{Project.AppKey}}"
                hx-target="#content"
                hx-on::before-request="updateNav('tabRoadmap')"
                id="tabRoadmap"
                class="nav-item inline-flex items-center border-b-2 px-1 pt-1 text-xs font-medium"
              >
                Roadmap
              </button>
              <button
                hx-get="/widget/ideas/{{Project.AppKey}}"
                hx-target="#content"
                hx-on::before-request="updateNav('tabFeedback')"
                id="tabFeedback"
                class="nav-item inline-flex items-center border-b-2 px-1 pt-1 text-xs font-medium"
              >
                Ideas
              </button>
            </div>
          </div>

          <div class="lg:ml-4 space-x-2 flex items-center">
            {% if isEmbedded %}
            <button
              type="button"
              class="relative flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2"
              style="--tw-ring-color: {{Project.AccentColor}}"
              onclick="window.parent.postMessage('close', '*')"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Close</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
            {%endif%}
          </div>
        </div>
      </div>
    </nav>

    <main
      id="content"
      class="h-screen mx-auto max-w-7xl p-2 sm:p-4 lg:p-8"
      hx-get="/widget/changelog/{{Project.AppKey}}"
      hx-swap="innerHtml"
      hx-trigger="load"
    ></main>

    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      const today = new Date();
      const laterToday = today;
      laterToday.setHours(laterToday.getHours() + 8);

      document.cookie = `user_tz=${
        Intl.DateTimeFormat().resolvedOptions().timeZone
      };expires=${laterToday.toUTCString()};`;

      function updateNav(tabName) {
        const activeLinkClasses = "text-gray-900";
        const otherLinkClasses = [
          "text-gray-500",
          "border-transparent",
          "hover:border-gray-300",
          "hover:text-gray-700",
        ];

        for (const elm of document.getElementsByClassName("nav-item")) {
          elm.classList.remove(activeLinkClasses);
          elm.classList.add(...otherLinkClasses);
          elm.setAttribute("style", "");
        }

        const activeElm = document.getElementById(tabName);

        if (!activeElm) {
          return;
        }

        activeElm.classList.remove(...otherLinkClasses);
        activeElm.classList.add(activeLinkClasses);
        activeElm.setAttribute(
          "style",
          "border-color: {{Project.AccentColor}}"
        );
      }

      if ("{{newUserId}}") {
        document.cookie = `user_id={{newUserId}};`;
      }

      updateNav("tabChangelog");

      window.isEmbedded = "{{isEmbedded}}" === "True" ? 1 : 0;

      window.parent.postMessage("loaded", "*");

      window.addEventListener("message", function (event) {
        if (event.data.type === "userInfo") {
          document.cookie = `user_info=${
            event.data.data
          };expires=${laterToday.toUTCString()};`;
        }
      });
    </script>
  </body>
</html>
