{% for post in Posts %}
<article class="flex max-w-xl flex-col items-start justify-between p-4">
  <div class="flex items-center gap-x-4 text-xs">
    <time datetime="2020-03-16" class="text-gray-500"
      >{{formatDate(convertDate(post.PublishedOn, timezone))}}</time
    >
    <div
      href="#"
      class="relative z-10 rounded-full px-3 py-1.5 font-medium"
      style="color: {{contrastColor(post.Color.String)}}; background-color: {{post.Color.String}}"
    >
      {{post.Label.String}}
    </div>
  </div>
  <div class="group relative">
    <h3
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a href="#"> {{post.Title}} </a>
    </h3>

    <div class="mt-5 text-sm text-gray-600">{{post.Body}}</div>
  </div>
  <div class="relative mt-8 flex items-center gap-x-4">
    <img
      src="{%if post.PictureUrl.String%}{{CDNUrl(post.PictureUrl.String)}}{%else%}/static/logo.png{%endif%}"
      alt=""
      class="h-10 w-10 rounded-full bg-gray-50"
    />
    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <span class="absolute inset-0"></span>
        {{post.FirstName}} {{post.LastName}}
      </p>
    </div>
  </div>
</article>
{% empty %}
<div class="text-center">
  <h3 class="mt-12 text-lg font-semibold text-gray-900">No posts yet!</h3>
  <div class="mt-6">
    <p class="text-md font-medium text-gray-700">
      Check back later for updates
    </p>
  </div>
</div>
{% endfor %}
