<li class="roadmap-status relative flex gap-x-4">
  <div
    class="link-line absolute left-0 top-0 flex w-12 justify-center -bottom-6"
  >
    <div class="w-px bg-gray-200"></div>
  </div>
  <div
    class="relative flex h-12 w-12 flex-none items-center justify-center bg-white dark:bg-slate-800"
  >
    <div
      class="h-6 w-6 rounded-full bg-gray-100 ring-1 ring-gray-300 dark:bg-slate-800 dark:ring-slate-700"
      style="background-color: {{s.Color}}"
    ></div>
  </div>

  <div>
    <p class="flex items-center py-3 font-medium leading-5 text-gray-900 dark:text-slate-50">
      {{s.Status}}
    </p>

    <ul
      role="list"
      class="space-y-6"
      _="init add .hidden to the last .post-link-line in me"
    >
      {%for p in s.Posts%} {%include "widget/components/roadmap_post.html"%}
      {%endfor%}
    </ul>
  </div>
</li>
