{% if Success %}
<div class="pt-4">
	{% include 'partials/components/banner.html' %}
</div>
{% endif %}

<form id="form" hx-post="/admin/settings/general/save" hx-encoding="multipart/form-data" hx-target="#tab-content"
	hx-swap="innerHtml">
	<input type="hidden" name="id" value="{{Form.ID}}" />
	<!-- Description list with inline editing -->
	<div class="mt-10 divide-y divide-gray-200">
		<div class="space-y-1">
			<h3 class="text-lg font-medium leading-6 text-gray-900">
				Account<span class="text-sm font-medium">&nbsp;(from Google)</span>
			</h3>
		</div>
		<div class="mt-6">
			<dl class="divide-y divide-gray-200">
				<div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
					<dt class="text-sm font-medium text-gray-500">Name</dt>
					<dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
						<span class="flex-grow">{{user.Metadata.FullName}}</span>
					</dd>
				</div>
				<div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:pt-5">
					<dt class="text-sm font-medium text-gray-500">Email</dt>
					<dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
						<span class="flex-grow">{{user.Email}}</span>
					</dd>
				</div>
				<div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:pt-5">
					<dt class="text-sm font-medium text-gray-500">Timezone</dt>
					<dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
						<span class="flex-grow">{{user.Timezone}}</span>
					</dd>
				</div>
			</dl>
		</div>
	</div>

	<div class="mt-10 divide-y divide-gray-200">
		<div class="space-y-1">
			<h3 class="text-lg font-medium leading-6 text-gray-900">
				Project
			</h3>
			<p class="max-w-2xl text-sm text-gray-500">
				Customize how your product is displayed to your clients.
			</p>
		</div>
		<div class="mt-6">
			<dl class="divide-y divide-gray-200">
				<div class="py-4 sm:grid sm:grid-cols-3 items-center sm:gap-4 sm:py-5 sm:pt-5">
					<dt class="text-sm font-medium text-gray-500">Name</dt>
					<dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
						<input type="text" name="name" id="name" value="{{Form.Name}}" aria-describedby="title-error"
							placeholder="Best Todo App Ever"
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-green">

						{% if Errors['Name']%}
						<p class="mt-2 text-sm text-red-600" id="title-error">
							{{Errors['Name']}}</p>
						{% endif %}
					</dd>
				</div>
				<div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:pt-5 items-center">
					<dt class="text-sm font-medium text-gray-500">Logo</dt>
					<dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
						<span class="flex-grow">
							<img class="h-8 w-8"
								src="{%if Form.LogoUrl.Valid%}{{ CDNUrl(Form.LogoUrl.String)}}{%else%}/static/logo.png{%endif%}"
								alt="project logo" />
						</span>
						<span class="ml-4 flex flex-shrink-0 items-start space-x-4">
							<input type="file" name="photo"
								class="rounded-md bg-white font-medium text-green hover:text-green focus:outline-none focus:ring-2 focus:ring-green focus:ring-offset-2"></input>
						</span>
					</dd>
				</div>
				<div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-b sm:border-gray-200 sm:py-5">
					<dt class="text-sm font-medium text-gray-500">
						Description
					</dt>
					<dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
						<textarea id="description" name="description" rows="3" required
							placeholder="Saves AND does your todos for you..." aria-describedby="desc-error"
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green">{{Form.Description}}</textarea>

						{% if Errors['Description']%}
						<p class="mt-2 text-sm text-red-600" id="desc-error">
							{{Errors['Description']}}</p>
						{% endif %}
					</dd>
				</div>
				<div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 items-center">
					<dt class="text-sm font-medium text-gray-500">
						Accent Color
					</dt>
					<dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
						<input type="color" name="accent_color" id="accent_color" required
							aria-describedby="color-error" value="{{Form.AccentColor}}"
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-green">

						{% if Errors['AccentColor']%}
						<p class="mt-2 text-sm text-red-600" id="color-error">
							{{Errors['AccentColor']}}</p>
						{% endif %}

					</dd>
				</div>
				<div class="py-4 sm:grid sm:grid-cols-3 items-center sm:gap-4 sm:py-5 sm:pt-5">
					<dt class="text-sm font-medium text-gray-500">
						App Key
					</dt>
					<dd class="mt-1 flex text-sm cursor-pointer text-gray-900 sm:col-span-2 sm:mt-0"
						onclick="navigator.clipboard.writeText('{{Form.AppKey}}'); document.getElementById('copied').classList.remove('hidden');">
						<div class="relative w-full">
							<input type="text" readonly name="appkey" id="appkey" value="{{Form.AppKey}}"
								class="pointer-events-none block w-full rounded-md border-0 py-1.5 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 bg-gray-200 focus:ring-2 focus:ring-inset focus:ring-green sm:text-sm sm:leading-6">
							<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
								<p class="mr-2 text-sm text-green hidden" id="copied">Copied!</p>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
									stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
								</svg>
							</div>
						</div>
					</dd>
				</div>
			</dl>
		</div>
	</div>
	<div class="mt-6 flex items-center justify-end gap-x-6">
		<p class="mt-2 text-sm text-red-600">{{Error}}</p>

		<button type="submit" id="btn-submit"
			class="rounded-md bg-green px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green">Save</button>
	</div>
</form>