<form
  hx-post="/admin/settings/roadmap/status/save"
  hx-trigger="submit"
  hx-swap="outerHTML"
  hx-encoding="multipart/form-data"
  id="status-form"
>
  {%if Status.ID%}
  <input type="hidden" name="id" value="{{Status.ID}}" />
  {%endif%}
  <div class="px-4 sm:px-6">
    <div class="flex items-start justify-between">
      <h2
        class="text-base font-semibold leading-6 text-gray-900"
        id="slide-over-title"
      >
        {%if Status.ID%}Edit{%else%}Create{%endif%} Status
      </h2>
      <div class="ml-3 flex h-7 items-center">
        <button
          type="button"
          onclick="closeSlideOver()"
          class="relative rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-orange focus:ring-offset-2"
        >
          <span class="absolute -inset-2.5"></span>
          <span class="sr-only">Close panel</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="relative mt-6 flex-1 px-4 sm:px-6">
    <div class="flex flex-1 flex-col justify-between">
      <div class="divide-y divide-gray-200 px-4 sm:px-6">
        <div class="space-y-6 pb-5 pt-6">
          <div>
            <label
              for="status"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Status</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="status"
                id="status"
                value="{{Status.Status}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
              />
            </div>

            {% if Errors['Status']%}
            <p class="mt-2 text-sm text-red-600" id="title-error">
              {{Errors['Status']}}
            </p>
            {% endif %}
          </div>
          <div>
            <label
              for="description"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Description</label
            >
            <div class="mt-2">
              <textarea
                id="description"
                name="description"
                rows="4"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
              >
{{Status.Description}}</textarea
              >
            </div>
          </div>

          <div>
            <label
              for="color"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Color</label
            >
            <div class="mt-4">
              <input
                type="color"
                name="color"
                id="color"
                required
                aria-describedby="color-error"
                value="{{Status.Color}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-orange"
              />

              {% if errors['Color']%}
              <p class="mt-2 text-sm text-red-600" id="color-error">
                {{errors['Color']}}
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if Message %}
  <div id="html-to-move" class="hidden pt-4">
    {% include 'partials/components/banner.html' %}
  </div>
  {% endif %}

  <script>
    if (String("{{Message}}")) {
      document.getElementById("banner-placeholder").innerHTML =
        document.getElementById("html-to-move").innerHTML;
    }

    if (String("{{ Close }}")) {
      document
        .getElementById("tab-content")
        .dispatchEvent(new Event("tabchange"));

      closeSlideOver();
    }
  </script>
</form>
