{% if Success or Message %}
<div class="pt-4">{% include 'partials/components/banner.html' %}</div>
{% endif %}

<div class="mt-10 divide-y divide-gray-200">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Boards</h3>
      <p class="mt-2 text-sm text-gray-700">
        A board is divided into columns representing different stages in the
        development process, such as "To Do," "In Progress," and "Done." Cards
        or tasks are moved across these columns to track progress and manage
        workflow. You can use multiple boards for different flows.
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button
        type="button"
        hx-get="/admin/settings/roadmap/boards/open"
        hx-target="body"
        hx-swap="beforeend"
        class="block rounded-md bg-orange px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange"
      >
        Add board
      </button>
    </div>
  </div>

  <div class="mt-8 flow-root" id="board-content">
    {%include 'partials/components/settings/roadmap_tab_boards.html' %}
  </div>
</div>

<div class="mt-10 divide-y divide-gray-200">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Statuses</h3>
      <p class="mt-2 text-sm text-gray-700">
        These statuses represent the different stages within each board. You
        will be able to assign posts to a particular status to move it along the
        flow.
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button
        type="button"
        hx-get="/admin/settings/roadmap/status/open"
        hx-target="body"
        hx-swap="beforeend"
        class="block rounded-md bg-orange px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange"
      >
        Add status
      </button>
    </div>
  </div>

  <div class="mt-8 flow-root" id="status-content">
    {%include 'partials/components/settings/roadmap_tab_status.html' %}
  </div>
</div>

<div class="mt-6 flex items-center justify-end gap-x-6">
  <p class="mt-2 text-sm text-red-600">{{Error}}</p>
</div>
