<div id="onboarding-form">
	<div class="bg-white px-6 py-12 sm:py-16 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<p class="text-base font-semibold leading-7 text-orange">Get started with ChangeDiff.io</p>
			<h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Welcome!</h2>
			<p class="mt-6 text-lg leading-8 text-gray-600">We'll need some information about your project before you
				can
				start publishing. <br /> (it will only take a few seconds!)</p>
		</div>
	</div>

	<div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 sm:py-12 lg:px-8">
		<div class="mx-auto max-w-2xl">
			<form id="form" hx-encoding="multipart/form-data" hx-post="/onboarding" hx-target="#onboarding-form">
				<div class="space-y-12">
					<div class="border-b border-gray-900/10 pb-12">
						<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
							<div class="sm:col-span-4">
								<label for="name" class="block text-sm font-medium leading-6 text-gray-900">Project
									Name</label>
								<div class="mt-2">
									<input type="text" name="name" id="name" value="{{form.Name}}"
										placeholder="My Todo List App" required aria-describedby="name-error"
										class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-orange">

									{% if errors['Name']%}
									<p class="mt-2 text-sm text-red-600" id="name-error">
										{{errors['Name']}}</p>
									{% endif %}
								</div>
							</div>

							<div class="col-span-full">
								<label for="about"
									class="block text-sm font-medium leading-6 text-gray-900">Description</label>
								<div class="mt-2">
									<textarea id="description" name="description" rows="3" required
										placeholder="Saves AND does your todos for you..." aria-describedby="desc-error"
										class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange">{{form.Description}}</textarea>

									{% if errors['Description']%}
									<p class="mt-2 text-sm text-red-600" id="desc-error">
										{{errors['Description']}}</p>
									{% endif %}
								</div>
							</div>

							<div class="col-span-full">
								<div class="grid gap-x-6 grid-cols-6">
									<div class="col-span-3">
										<label for="photo"
											class="block text-sm font-medium leading-6 text-gray-900">Photo</label>
										<div class="mt-2 flex items-center gap-x-3">
											<svg class="h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
													clip-rule="evenodd" />
											</svg>
											<input type="file" name="photo"
												class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Change</button>
										</div>
									</div>

									<div class="col-span-3">
										<label for="name"
											class="block text-sm font-medium leading-6 text-gray-900">Accent
											Color</label>
										<div class="mt-4">
											<input type="color" name="accent_color" id="accent_color" required
												aria-describedby="color-error" value="{{form.AccentColor}}"
												class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-orange">

											{% if errors['AccentColor']%}
											<p class="mt-2 text-sm text-red-600" id="color-error">
												{{errors['AccentColor']}}</p>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="mt-6 flex items-center justify-end gap-x-6">
						<p class="mt-2 text-sm text-red-600">{{error}}</p>

						<button type="submit"
							class="rounded-md bg-orange px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange">Proceed</button>
					</div>
			</form>
		</div>
	</div>
</div>