{% extends 'partials/base/auth_base.html' %} {% block head %}
<title>ReleaseRover - Roadmap</title>
{% endblock %} {% block content %}

<div class="min-w-0 flex-1">
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
    Your Roadmap
  </h2>
</div>

<div id="banner-placeholder"></div>

<div class="relative pt-8 inline-block text-left">
  <div>
    <button type="button"
      class="inline-flex w-full items-center gap-x-1.5 rounded-md font-semibold text-gray-900"
      id="menu-button" aria-expanded="true" aria-haspopup="true" onclick="toggleDropdown(event)">
      <h3 id="selected-board-name" class="text-base font-semibold leading-6 text-gray-900">Boards</h3>
      <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd"
          d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <div
    class="absolute hidden left-0 transform ease-out opacity-0 scale-95 right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu" id="ddlBoards" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="px-4 py-3" role="none">
      <p class="truncate text-sm font-medium text-gray-900" role="none">
        Public boards
      </p>
    </div>
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->

      {%for b in PublicBoards%}
      <a class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 w-full text-left" role="menuitem" tabindex="-1"
        href="#{{b.ID}}">
        &nbsp;&nbsp;{{b.Name}}
      </a>
      {%empty%} <span class="test-gray-700 block px-4 py-2 text-sm w-full text-left">No boards created.</span> {%endfor%}
    </div>

    {%if HasPrivateBoards%}
    <div class="px-4 py-3" role="none">
      <p class="truncate text-sm font-medium text-gray-900" role="none">
        Private boards
      </p>
    </div>
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      {%for b in PrivateBoards%}
      <a class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 w-full text-left" role="menuitem" tabindex="-1"
        href="#{{b.ID}}">
        &nbsp;&nbsp;{{b.Name}}
      </a>
      {%endfor%}
    </div>

    {%endif%}

    <div class="py-1" role="none">
      <button class="text-gray-900 block px-4 py-2 text-sm font-medium hover:bg-gray-100 w-full text-left"
        role="menuitem" tabindex="-1" hx-get="/admin/settings/roadmap/boards/open" hx-swap="beforeend" hx-target="body">
        Create a board
      </button>
    </div>
  </div>
</div>

<div id="board-content" hx-get="/admin/roadmap/board" hx-swap="innerHtml" hx-on::after-request="eventListenerElmIds.clear(); hookDraggableContainerStatuses(); hookDraggablePosts();"
  hx-vals="js:{id: window.location.hash.replace('#', '')}" hx-trigger="boardchange"></div>

<script type="module" src="/static/lexical/main.9d8dd8ca.js"></script>
<link rel="stylesheet" href="/static/lexical/main.8197594a.css" />

<script>
  window.addEventListener("load", function () {
    {%if FirstBoardID%}
    if (!window.location.hash && "{{FirstBoardID}}") {
      window.location.hash = "{{FirstBoardID}}";
    } else if (window.location.hash) {
      document
        .getElementById("board-content")
        .dispatchEvent(new Event("boardchange"));
    }
    {%endif%}
  });

  window.onhashchange = function () {
    document
      .getElementById("board-content")
      .dispatchEvent(new Event("boardchange"));
  };

  let ddlBoardOpen = false;

  function toggleDropdown(e) {
    const elementToAnimate = document.getElementById("ddlBoards");

    if (!elementToAnimate) {
      return;
    }

    const enteringClasses = [
      "ease-out",
      "duration-100",
      "opacity-100",
      "scale-100",
    ];
    const closingClasses = ["ease-in", "duration-75", "opacity-0", "scale-95"];

    ddlBoardOpen = !ddlBoardOpen;
    const mainElm = document.querySelector("main");

    if (ddlBoardOpen) {
      elementToAnimate.classList.remove(...closingClasses);
      setTimeout(() => {
        elementToAnimate.classList.add(...enteringClasses);
        mainElm.addEventListener("click", clickAwayHandler);
      }, 20);
    } else {
      elementToAnimate.classList.remove(...enteringClasses);
      setTimeout(() => {
        elementToAnimate.classList.add(...closingClasses);
        mainElm.removeEventListener("click", clickAwayHandler);
      }, 20);
    }

    setTimeout(() => {
      elementToAnimate.classList.toggle("hidden");
    }, 120);
  }

  function clickAwayHandler(event) {
    const { srcElement } = event;

    const menuButtonElm = document.getElementById("menu-button");
    if (srcElement.id === "menu-button" || menuButtonElm.contains(srcElement)) {
      return;
    }

    return toggleDropdown(event);
  }
</script>

{% if Message %}
<div id="html-to-move" class="hidden pt-4">
  {% include 'partials/components/banner.html' %}
</div>
{% endif %}

<script>
  if (String("{{Message}}")) {
    document.getElementById("banner-placeholder").innerHTML =
      document.getElementById("html-to-move").innerHTML;
  }
</script>

<style>
  .dragging {
    opacity: 0.5;
  }
</style>

<script>
  const eventListenerElmIds = new Set();

  function hookDraggablePosts(idToReinit) {
    const draggableElms = document.querySelectorAll(".draggable");

    if (idToReinit) {
      eventListenerElmIds.delete(idToReinit)
    }

    draggableElms.forEach(elm => {
      const inMap = eventListenerElmIds.has(elm.id);

      if (!inMap) {
        elm.addEventListener("dragstart", () => {
          elm.classList.add("dragging");
        });

        elm.addEventListener("dragend", () => {
          elm.classList.remove("dragging");
          const container = elm.closest('.draggable-container');

          if (container) {
            const statusId = container.id.replace('status-', '');
            const postId = elm.id.replace('post-', '');

            elm.setAttribute('hx-post', `/admin/roadmap/post/save-status/${window.location.hash.replace('#', '')}/${postId}/${statusId}`);
            htmx.process(elm);
            htmx.trigger(elm, 'statusUpdated');
          }
        });

        eventListenerElmIds.add(elm.id);
      }

    });
  }

  function hookDraggableContainerStatuses(idToReinit) {
    const containerElms = document.querySelectorAll('.draggable-container');

    if (idToReinit) {
      eventListenerElmIds.delete(idToReinit)
    }

    containerElms.forEach(elm => {
      const inMap = eventListenerElmIds.has(elm.id);

      const postCounterElm =  elm.previousElementSibling.querySelector('.status-post-count');
      if(postCounterElm){
        postCounterElm.innerHTML = elm.querySelectorAll('.draggable').length;
      }

      if (!inMap) {
        elm.addEventListener("dragover", (e) => {
          e.preventDefault();
          const item = document.querySelector('.dragging');
          elm.appendChild(item);
        });

        eventListenerElmIds.add(elm.id);
      }
    });
  }
</script>

{% endblock %}
