{% extends 'partials/base/auth_base.html' %} {% block head %}
<title>ReleaseRover - Settings</title>
{% endblock %} {% block content %}
<div class="relative mx-auto max-w-4xl">
  <div class="px-4 sm:px-6 lg:px-0">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Settings</h1>
  </div>
  <div class="px-4 sm:px-6 lg:px-0">
    <div class="py-6">
      <!-- Tabs -->
      <div class="lg:hidden">
        <label for="selected-tab" class="sr-only">Select a tab</label>
        <select
          id="selected-tab"
          name="selected-tab"
          class="mt-1 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-emerald sm:text-sm sm:leading-6"
          onchange="navTabsChanged(event)"
        >
          <option selected value="general">General</option>
          <option value="organiation" disabled>
            Organisation (coming soon)
          </option>
          <option value="changelog">Changelog</option>
          <option value="roadmap" disabled>Roadmap (coming soon)</option>
          <option value="ideas" disabled>Ideas (coming soon)</option>
          <option value="integrations" disabled>
            Integrations (coming soon)
          </option>
        </select>
      </div>
      <div class="hidden lg:block">
        <div class="border-b border-gray-200">
          <nav class="-mb-px flex space-x-8">
            <button
              onclick="updateNavTabs('general')"
              class="border-emerald text-emerald whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
            >
              General
            </button>
            <button
              onclick="updateNavTabs('organisation')"
              disabled
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
            >
              Organisation

              <br />
              <span class="text-gray-400 text-sm"> Coming soon </span>
            </button>
            <button
              onclick="updateNavTabs('changelog')"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
            >
              Changelog
            </button>
            <button
              onclick="updateNavTabs('roadmap')"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
              disabled
            >
              Roadmap

              <br />
              <span class="text-gray-400 text-sm"> Coming soon </span>
            </button>
            <button
              onclick="updateNavTabs('ideas')"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
              disabled
            >
              Ideas

              <br />
              <span class="text-gray-400 text-sm"> Coming soon </span>
            </button>
            <button
              onclick="updateNavTabs('nps')"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
              disabled
            >
              NPS

              <br />
              <span class="text-gray-400 text-sm"> Coming soon </span>
            </button>
            <button
              onclick="updateNavTabs('csat')"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
              disabled
            >
              CSAT

              <br />
              <span class="text-gray-400 text-sm"> Coming soon </span>
            </button>
            <button
              onclick="updateNavTabs('integrations')"
              disabled
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
            >
              Integrations

              <br />
              <span class="text-gray-400 text-sm"> Coming soon </span>
            </button>
          </nav>
        </div>
      </div>

      <div id="banner-placeholder"></div>

      <div
        id="tab-content"
        hx-get="/admin/settings/tab"
        hx-swap="innerHtml"
        hx-vals="js:{hash: window.location.hash.replace('#', '')}"
        hx-trigger="load, tabchange"
      ></div>
    </div>
  </div>
</div>

<script>
  updateNavTabs(window.location.hash);

  function navTabsChanged(e) {
    updateNavTabs(e.target.value);
  }

  function updateNavTabs(tabName) {
    const navElms = document.querySelectorAll("nav > button");
    const fixedTabName =
      tabName.replace("#", "").toLowerCase().trim() || "general";

    const defaultClasses = [
      "border-transparent",
      "text-gray-500",
      "hover:border-gray-300",
      "hover:text-gray-700",
    ];
    const currentClasses = ["border-emerald", "text-emerald"];

    navElms.forEach((e) => {
      if (e.innerHTML.toLowerCase().trim() === fixedTabName) {
        e.classList.remove(...defaultClasses);
        e.classList.add(...currentClasses);
      } else {
        e.classList.add(...defaultClasses);
        e.classList.remove(...currentClasses);
      }
    });

    location.hash = "#" + fixedTabName;
    document.getElementById("selected-tab").value = fixedTabName;
  }

  window.onhashchange = function () {
    document
      .getElementById("tab-content")
      .dispatchEvent(new Event("tabchange"));
    updateNavTabs(window.location.hash);
  };

  function handleColorPickerChange(event) {
    const {
      srcElement,
      target: { value },
    } = event;

    const amIHexElm = srcElement.type === "text";

    let hexElm, colorPickerElm;
    if (amIHexElm) {
      hexElm = srcElement;
      colorPickerElm = srcElement.previousElementSibling.lastChild;
    } else {
      colorPickerElm = srcElement;
      hexElm = srcElement.parentElement.nextElementSibling;
    }

    colorPickerElm.value = hexElm.value = event.target.value;
  }
</script>
{% endblock %}
