<div id="post-table">
  <div class="md:flex md:items-center md:justify-between pb-8">
    <div class="min-w-0 flex-1">
      <h2
        class="text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:truncate sm:text-3xl sm:tracking-tight"
      >
        Posts
      </h2>
    </div>
    <div class="mt-4 flex gap-x-2 md:ml-4 md:mt-0">
      <a
        href="/admin/settings#changelog"
        class="inline-flex items-center rounded-md bg-white dark:bg-slate-800 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 dark:hover:bg-slate-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="-ml-0.5 mr-1.5 h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>

        Settings
      </a>
      <a
        href="/admin/posts/compose"
        class="inline-flex items-center rounded-md bg-emerald px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-emerald focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald"
      >
        <svg
          class="-ml-0.5 mr-1.5 h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
          />
        </svg>
        New Post
      </a>
    </div>
  </div>

  <div class="-mx-4 mt-8 sm:-mx-0">
    {% if Empty%}
    <div class="text-center">
      <svg
        class="mx-auto h-12 w-12 text-gray-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          vector-effect="non-scaling-stroke"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"
        />
      </svg>
      <h3 class="mt-2 text-sm font-semibold text-gray-900 dark:text-white">No posts</h3>
      <p class="mt-1 text-sm text-gray-500 dark:text-slate-50">Get started by creating a post.</p>
      <div class="mt-6">
        <a
          href="/admin/posts/compose"
          class="inline-flex items-center rounded-md bg-emerald px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-emerald focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald"
        >
          <svg
            class="-ml-0.5 mr-1.5 h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
            />
          </svg>
          New Post
        </a>
      </div>
    </div>
    {%else%}
    <table id="table-posts" class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr>
          <th
            scope="col"
            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-white"
          >
            Label
          </th>
          <th
            scope="col"
            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-white sm:pl-0"
          >
            Title
          </th>
          <th
            scope="col"
            class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white lg:table-cell"
          >
            Date
          </th>
          <th
            scope="col"
            class="hidden px-3 py-3.5 text-center text-sm font-semibold text-gray-900 dark:text-white sm:table-cell"
          >
            Views
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900 dark:text-white"
          >
            Status
          </th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4">
            <span class="sr-only">Comments &amp; Reactions</span>
          </th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4">
            <span class="sr-only">Delete</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white dark:bg-slate-800">
        {% for post in Posts %}
        <tr id="post-{{post.ID}}" class="hover:bg-slate-100 dark:hover:bg-slate-700">
          <td
            class="hidden lg:table-cell w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:text-white sm:w-auto sm:max-w-none"
          >
            <div class="flex gap-x-1">
              <span
                class="w-5 h-5 rounded-md"
                style="background-color: {{post.Color.String}}"
              ></span>
              {{post.Label.String}}
            </div>
          </td>
          <td
            class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:text-white sm:w-auto sm:max-w-none sm:pl-0"
          >
            {{post.Title}}
            <dl class="font-normal lg:hidden">
              <dt class="sr-only">Label</dt>
              <dd class="mt-1 truncate text-gray-700 dark:text-slate-100">{{post.Label.String}}</dd>
              <dt class="sr-only">Title</dt>
              <dd class="mt-1 truncate text-gray-700 dark:text-slate-100">{{post.Title}}</dd>
              <dt class="sr-only sm:hidden">Date</dt>
              <dd class="mt-1 truncate text-gray-500 dark:text-slate-50 sm:hidden">
                {{formatDate(convertDate(post.PublishedOn, user.Timezone))}}
              </dd>
            </dl>
          </td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 dark:text-slate-50 lg:table-cell">
            {{formatDate(convertDate(post.PublishedOn, user.Timezone))}}
          </td>
          <td
            class="hidden px-3 text-center py-4 text-sm text-gray-500 dark:text-slate-50 sm:table-cell"
          >
            {{post.Viewcount}}
          </td>
          <td class="px-3 py-4 text-center">
            {% if post.IsPublished.Bool %} {%if post.Status == 1 %}
            <div
              class="rounded-full px-2.5 py-0.5 text-sm font-medium bg-green-100 text-green-800"
            >
              Published
            </div>
            {% elif post.Status == 2 %}
            <div
              class="rounded-full px-2.5 py-0.5 text-sm font-medium bg-gray-100 text-gray-800 dark:text-slate-50"
            >
              Expired
            </div>
            {%else%}
            <div
              class="rounded-full px-2.5 py-0.5 text-sm font-medium bg-yellow-100 text-yellow-800"
            >
              Pending
            </div>
            {%endif%} {%else%}
            <div
              class="rounded-full px-2.5 py-0.5 text-sm font-medium bg-blue-100 text-blue-800"
            >
              Draft
            </div>
            {% endif %}
          </td>
          <td class="py-4 pl-3 pr-4 text-right text-sm font-medium">
            <button
              class="text-emerald hover:text-emerald"
              hx-get="/admin/posts/load-reactions/{{post.ID}}"
              hx-target="body"
              hx-swap="afterend"
              hx-on:after-request="setTimeout(openSimpleSlideOver, 100)"
            >
              Reactions
            </button>
          </td>
          <td class="py-4 pl-3 pr-4 text-right text-sm font-medium">
            <a
              class="text-emerald hover:text-emerald"
              type="button"
              href="/admin/posts/compose/{{post.ID}}"
            >
              Edit<span class="sr-only">, post</span></a
            >
          </td>
          <td class="py-4 pl-3 pr-4 text-right text-sm font-medium">
            <button
              hx-delete="/admin/posts/confirm-delete/{{post.ID}}"
              hx-target="body"
              hx-swap="beforeend"
              class="text-emerald hover:text-emerald"
            >
              Delete<span class="sr-only">, post</span>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {%endif%}
  </div>
</div>
