<div id="post-form" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
	<div class="mx-auto max-w-4xl">
		<form id="form" hx-encoding="multipart/form-data" hx-post="/admin/save-post" hx-target="#post-form">
			<div class="space-y-12">
				<div class="border-b border-gray-900/10 pb-12">
					<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
						<div class="sm:col-span-4">
							<label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
							<div class="mt-2">
								<input type="text" name="title" id="title" value="{{form.Title}}"
									placeholder="Announcement: HUGE Update Incoming!"
									class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-orange">
							</div>
						</div>

						<div class="col-span-full">
							<div class="grid gap-x-6 grid-cols-6">
								<div class="col-span-3">
									<label for="banner"
										class="block text-sm font-medium leading-6 text-gray-900">Banner</label>
									<div class="mt-2 flex items-center gap-x-3">
										<svg class="h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
											aria-hidden="true">
											<path fill-rule="evenodd"
												d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
												clip-rule="evenodd" />
										</svg>
										<input id="banner" type="file" name="banner"
											class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" />
									</div>
								</div>
							</div>
						</div>

						<div class="col-span-full">
							<label class="block text-sm font-medium leading-6 text-gray-900">Body</label>
							<div class="mt-2">
								<div id="root"></div>
								<input type="hidden" name="content" id="editor-content" />
							</div>
						</div>

					</div>
				</div>

				<div class="mt-6 flex items-center justify-end gap-x-6">
					<p class="mt-2 text-sm text-red-600">{{error}}</p>

					<button type="submit" id="btn-submit"
						class="rounded-md bg-orange px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange">Publish</button>
				</div>
		</form>
	</div>
</div>


<script type="module" src="/static/lexical/main.00ecd330.js"></script>
<link rel="stylesheet" href="/static/lexical/main.95505013.css">